<tr class="layout">
  <td width="20" height="11" valign="top"><img src="assets/img/r1.gif" width="20" height="11" /></td>
  <td height="11" colspan="2" background="assets/img/r5.gif">
    <img src="assets/img/logo2.gif" width="75" height="11" />
  </td>
  <td width="20" height="11" align="right" valign="top"><img src="assets/img/r2.gif" width="20" height="11" /></td>
</tr>
<tr class="layout">
  <td width="20" rowspan="3" background="assets/img/r6.gif">
    <img src="assets/img/blank.gif" width="20" height="10" />
  </td>
  <td width="373" height="43" valign="top" background="assets/img/r9.gif">
    <a href="index.html"
      ><img
        src="assets/img/logo.gif"
        alt="warm colors - deeper liquid funk drum&bass"
        width="292"
        height="43"
        border="0"
    /></a>
  </td>
  <td width="267" rowspan="2" align="right" background="assets/img/r9.gif">
    <img src="assets/img/logo3.gif" width="267" height="59" />
  </td>
  <td width="20" rowspan="3" align="right" background="assets/img/r7.gif">
    <img src="assets/img/blank.gif" width="20" height="10" />
  </td>
</tr>
