{{ define "base" }}
	<html>
		<head>
			<title>warmcolors.online - news</title>
			<link href="assets/css/main.css" rel="stylesheet" type="text/css">
		</head>

		<body>
			{{ template "content" . }}
		</body>
	</html>
{{ end }}
