{{ define "profile_content" }}
	<td width="522" valign="top" background="assets/img/r2_9.gif" class="mein-margine"><div class="column">
			<img src="assets/img/profile/title/guest.gif" alt="guest" width="234" height="19">
			<table width="100%"  border="0" cellspacing="1" cellpadding="3">
				<tr>
					<td height="4" class="td-1"><img src="assets/img/_.gif" width="1" height="4"></td>
				</tr>
				<tr>
					<td class="td-2"><table width="100%"  border="0" cellspacing="0" cellpadding="2">
							<tr>
								<td valign="top" class="profile-img"><img src="assets/img/profile/inza.jpg" width="160" height="160"></td>
								<td valign="top" class="profile-st"><p><span class="profile-guestname">dj inza</span> [Soi/Nuffmek DJ's] </p>
									<p>90年代半ば、JUNGLE/DRUM&amp;BASSと出会いDJ活動を開始。以後&lt;DRUM&amp;BASS SESSIONS&gt;の日本人レギュラーDJとして活躍。GOLDIE,HYPE,LTJ BUKEM,KRUSTなど海外トップDJとの共演も数多い他、LONDONのDRUM&amp;BASS RADIO&lt;KOOL FM&gt;への出演も果たし話題を呼んだ。99年からは制作活動も開始し「PENTAGON」の一人として01年には&lt;FRONTLINE&gt;&lt;PRECISION&gt;&lt;MAUI&gt;などからシングルを次々とリリース。 &lt;KRUSH GROOVES&gt;からはDJ INZA名義のソロシングルも発表した。 そして、MAKOTOとの共作&quot;EASTERN DUB&quot;&lt;GOOD LOOKING RECORDS&gt;のリリースを控えている。 現在は&lt;Soi&gt;の他に、&lt;NUFFMEK DJ'S&gt;&lt;SUPERSTAR&gt;などで活動中。</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td height="4" class="td-1"><img src="assets/img/_.gif" width="1" height="4"></td>
				</tr>
			</table>
			<img src="assets/img/line.gif" width="100%" height="13">
		</div>
	</td>
{{ end }}
