{{ define "profile_content" }}
	<td width="522" valign="top" background="assets/img/r2_9.gif" class="mein-margine"><div class="column">
			<img src="assets/img/profile/title/guest.gif" alt="guest" width="234" height="19">
			<table width="100%"  border="0" cellspacing="1" cellpadding="3">
				<tr>
					<td height="4" class="td-1"><img src="assets/img/_.gif" width="1" height="4"></td>
				</tr>
				<tr>
					<td class="td-2"><table width="100%"  border="0" cellspacing="0" cellpadding="2">
							<tr>
								<td valign="top" class="profile-img"><img src="assets/img/profile/deeizm.jpg">
									<span class="profile-st"><br> <br> good looking records<br> <a href="http://www.glo.jp" target="_blank">www.glo.jp</a><br> <a href="http://www.goodlooking.org" target="_blank">www.goodlooging.org</a></span>
								</td>
								<td valign="top" class="profile-st">
									<p><span class="profile-guestname">deeizm mc</span> [good looking records] </p>
									<p>MC Conradによってその才能を見い出され、今やGood Looking初の女性アーティストとしてProgression Sessions@The End(UK)でのレジデントMCをはじめ、UK、ヨーロッパ、アメリカなど世界中をLTJ Bukem、MC Conrad、Makotoとともに飛び回っているドラム＆ベースMC。</p>
									<p> Makoto ft Deeizm MC『Progression Sessions 9』やMakoto『Joy』などの作品からもその実力がわかるように、今やMakotoのセットには絶対に欠かすことのできない最高のパートナーである。ソウルフル、スウィート、メロディック、そしてエッジの効いたダークなライムまで、あらゆる状況へ対応できるスタイルを持つDeeizm MCから目を離さないで欲しい。</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td height="4" class="td-1"><img src="assets/img/_.gif" width="1" height="4"></td>
				</tr>
			</table>
			<img src="assets/img/line.gif" width="100%" height="13"><br>
		</div>
	</td>
{{ end }}
