{{ define "profile_content" }}
	<td width="522" valign="top" background="assets/img/r2_9.gif" class="mein-margine"><div class="column">
			<img src="assets/img/profile/title/guest.gif" alt="guest" width="234" height="19">
			<table width="100%"  border="0" cellspacing="1" cellpadding="3">
				<tr>
					<td height="4" class="td-1"><img src="assets/img/_.gif" width="1" height="4"></td>
				</tr>
				<tr>
					<td class="td-2"><table width="100%"  border="0" cellspacing="0" cellpadding="2">
							<tr>
								<td valign="top" class="profile-img"><img src="assets/img/profile/sower.jpg" width="160" height="160"></td>
								<td valign="top" class="profile-st">
									<p><span class="profile-guestname">sower</span> [Soi/expansions] </p>
									<p>99年よりDJとしてのキャリアをスタートし、仙台を中心に精力的な活動を展開。02年、活動の拠点を東京に移し、Soiへ参加。また、PROGRESSION SESSIONS等、各ビッグイベントに出演。05年にはSTRICTLY DIGITALより、AKIRA[GOOD LOOKING　RECORDS]との共作トラック&quot;CHANCE&quot;を発表。</p>
									<p>様々な音楽をルーツとし、常に進化し続ける彼のDJスタイルは多くのクラウドを魅了している。</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td height="4" class="td-1"><img src="assets/img/_.gif" width="1" height="4"></td>
				</tr>
				<tr>
					<td class="td-2"><table width="100%"  border="0" cellspacing="0" cellpadding="2">
							<tr>
								<td valign="top" class="profile-img"><img src="assets/img/profile/akira_sower.jpg" width="160" height="212"></td>
								<td valign="top" class="profile-st"><p><span class="profile-guestname">expansions = akira &amp; sower</span></p>
									<p>AkiraとSowerは仙台で出会い、東北地方にまだDrum&amp;Bassのイベントが無い中DJとしてイベントを開始。またたくまに東北を代表するイベントに押し上げた。その後、お互いの活動の拠点を東京に移し数々のイベントで活躍する中、２人のトラック制作を開始。ソウルミュージックをルーツとしたAkira、ファンクミュージックをルーツとしたSowerの一見対局したスタイルを調和させたトラックを生み出している。05年には、その共作トラック&quot;Chance&quot;がNookie主催のStrictly Digitalからリリースを控えている。</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td height="4" class="td-1"><img src="assets/img/_.gif" width="1" height="4"></td>
				</tr>
			</table>
			<img src="assets/img/line.gif" width="477" height="13"><br>
			<img src="assets/img/topics/akira_sower.jpg" width="494" height="89" border="0" usemap="#MapMap">
			<map name="MapMap">
				<area shape="rect" coords="72,74,224,87" href="http://www.strictly-digital.com/" target="_blank">
				<area shape="rect" coords="5,73,60,88" href="http://www.glo.jp/label/labels_chance..html" target="_blank">
			</map>
		</div>

		<map name="Map">
			<area shape="rect" coords="72,74,224,87" href="http://www.strictly-digital.com/" target="_blank">
			<area shape="rect" coords="5,73,60,88" href="http://www.glo.jp/label/labels_chance..html" target="_blank">
		</map>
	</td>

{{ end }}
